* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding-left: 300px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #30B868;
    padding: 12px 16px;

}

.btn:hover {
        background-color: #555;
}

.container {
    padding-top: 16px;
    padding-bottom: 16px;
}

#banner .content {
     background: url(./assets/hero-bg.png);
    align-items: center;
     height: 674px;
    padding: 110px 120px 134px 140px;
    text-align: center;
}

#banner .content .bt2 {
    font-size: 16px;
    font-weight: lighter;
    color: #30B868;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color: white;
    padding: 8px 12px;
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn2:hover {
        background-color: #871414;
}

.circle{
    height: 6px;
    width: 6px;
    background-color: #30B868;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle1{
    height: 12px;
    width: 12px;
    background-color: #6ddc9d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle2{
    height: 16px;
    width: 16px;
    background-color: #cfe9d8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .content h1 {
     font-size: 75px;
     margin-left: 60px;
     color: white;
     margin-bottom: 16px;

}

.h1-color {
    color: #30B868;
}

#banner .content  p {
    color: white;
    font-size: 18px;
    margin-bottom: 32px;
    padding-left: 40px;
    line-height: 35px;

}

.btn3 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #30B868;
    padding: 14px 16px 12px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.btn3:hover {
        background-color: #555;
}

.btn4{
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px  solid  white;
    background-color: transparent;
    padding: 14px 16px 12px 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-top: 20;
}

.btn4:hover {
        background-color: #555;
}

.btn34 {
    display: inline-flex;
    gap: 16px;
}

#parabox{
    height: 448px;
    max-width: 1600px;
    padding-left: 120px;
    padding-right: 120px;
}

.para{
    margin-top: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.p1{
    font-size: 55px;
    font-weight: bold;
}

.p2{
    padding-top: 15px;
    padding-left: 47px;
    font-size: 17px;
    line-height: 20px;
    color: #627382;
}

.boxes{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 44px;
}

.card {
    /* border: 1px solid  red; */
    padding: 45px 24px 24px 24px;
    max-width: 322px;
    height: 258px;
    box-shadow: 0 0 8px 0 #0000000e;
    text-align: center;
}

.p3{
    font-size: 24px;
    font-weight: 550;
    padding-bottom: 16px;
    padding-top: 16px;
}
 .p4 {
    font-size: 16px;
    color: #627382;
 }

 .imgbox {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 84, 84);
    margin: 0 auto;
 }

 #paraimage {
    padding: 120px;
    display: flex;
    gap: 60px;
 }

 .paragraph {
    padding: 115px 115px;
    padding-left: 0;

 }

 .p5 {
    font-size: 16px;
    color: #30B868;
    padding-bottom: 16px;
 }

 .p6 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;

 }
 .p7 {
    font-size: 16px;
    color: #627382;
    padding-bottom: 40px;
 }

 .check {
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 16px;
    line-height: 20px;
    font-weight: 500;

 }

 #ready {
    margin: 0 115px 115px 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F6F2;
 }

 .readypara {
    padding: 80px 0;
    text-align: center;

 }
 .p8 {
    font-size: 42px;
    font-weight: bold;
 }
 .p9{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 24px;
 }

 .p10 {
    font-size: 16px;
    color: #627382;
    padding-top: 16px;
 }
