* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding-left: 300px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #30B868;
    padding: 12px 16px;

}

.btn:hover {
        background-color: #555;
}